<%#

  NAME: Controller
  PARAMETERS:
    previous: Link
    next: Link

%>
<nav class="clearfix mw-56rem mh-3rem-m mh-auto-l mb-4rem mb-6rem-l ph-1_5rem ph-0-ns">
  <a data-interaction="controller" class="d-inline_block f-left ff-source_sans_pro fw-regular fst-italic fs-1rem c-coal td-none" href="/case-studies/<%= previous_article.parameterize %>">
    <svg data-interaction="arrow" class="d-inline_block w-25px h-10px mr-1_25rem t-rotate_180d f-coal ttf-ease_in_out td-0_15s tp-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.98 5.66">
      <title>Navigation Arrow: Previous Case Study</title>
      <rect y="2.33" width="14" height="1"/>
      <rect x="11.36" y="1.38" width="4" height="1" transform="translate(5.09 -9) rotate(45)"/>
      <rect x="11.36" y="3.5" width="4" height="1" transform="translate(0.94 10.51) rotate(-45)"/>
    </svg>
    <span class="d-none d-inline_block-ns"><%= previous_article %></span>
  </a>
  <a data-interaction="controller" class="d-inline_block f-right ff-source_sans_pro fw-regular fst-italic fs-1rem c-coal td-none" href="/case-studies/<%= next_article.parameterize %>">
    <span class="d-none d-inline_block-ns"><%= next_article %></span>
    <svg data-interaction="arrow" class="d-inline_block w-25px h-10px ml-1_25rem f-coal ttf-ease_in_out td-0_15s tp-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.98 5.66">
      <title>Navigation Arrow: Next Case Study</title>
      <rect y="2.33" width="14" height="1"/>
      <rect x="11.36" y="1.38" width="4" height="1" transform="translate(5.09 -9) rotate(45)"/>
      <rect x="11.36" y="3.5" width="4" height="1" transform="translate(0.94 10.51) rotate(-45)"/>
    </svg>
  </a>
</nav>
