<%#

    NAME: Double-Column Paragraph
    PARAMETERS:
      index: Int
      title: String
      first_column: String
      second_column: String

%>
<section class="clearfix mw-56rem mh-auto mb-8rem">
  <div class="f-right mw-50rem">
    <header class="mb-1rem">
      <h1 class="ma-0 ff-akkurat fw-bold fs-1_2rem c-coal"><span class="mr-1rem c-gray"><%= index %></span><%= title %></h1>
    </header>
    <div class="clearfix">
      <p class="f-left w-50p ma-0 pr-0_5rem ff-akkurat fw-regular fs-1rem c-coal lh-1_5"><%= first_column %></p>
      <p class="f-right w-50p ma-0 pl-0_5rem ff-akkurat fw-regular fs-1rem c-coal lh-1_5"><%= second_column %></p>
    </div>
  </div>
</section>
