<%#

    NAME: Footer,
    PARAMETERS:
      Copyright: String
      Social: Link-Array

%>
<footer class="p-relative clearfix w-100percent h-100percent bgc-tan">
  <div class="p-absolute clearfix w-100percent h-100percent">
    <div class="f-left w-50percent h-100percent bgc-tan"></div>
    <div class="f-left w-50percent h-100percent bgc-coal"></div>
  </div>
  <div class="p-relative zi-2 mw-52_75rem clearfix mh-auto pv-2_75rem bgc-coal" style="padding-left: 89px;">
    <%# Copyright %>
    <p class="f-left ma-0 ff-akkurat fw-regular fs-0_75rem c-white"><%= copyright %> <span data-copyright="year"></span></p>
    <ul class="f-right ma-0 pa-0 lst-none">
      <%# CONFIG %>
      <%# COMMENT: Total number of links (index-base) %>
      <% total_links = social.length - 1 %>
      <%# END %>
      <% social.each_with_index do |link, index| %>
        <%# CONFIG %>
        <% if index === total_links %>
          <% margin_bottom = "" %>
        <% else %>
          <% margin_bottom = "mb-0_25rem" %>
        <% end %>
        <%# END %>
        <%# Link %>
        <li><a class="d-inline_block <%= margin_bottom %> ff-akkurat fw-regular fs-0_75rem c-white td-none" href="<%= link.href %>" <% if link.target %>target="_blank"<% end %>><%= link.title %></a></li>
      <% end %>
    </ul>
  </div>
</footer>
