<%#

    NAME: Hero,
    PARAMETERS:
      Portrait: Image
      Caption: String

%>
<header class="flex ai-center mw-42_125rem mh-auto pv-8_125rem">
  <h1 class="w-45percent ma-0 ff-akkurat fw-regular lh-1_5 c-coal"><%= caption %></h1>
  <img class="w-50percent" src="<%= portrait.src %>" alt="<%= portrait.alt %>">
</header>
