<%#

    NAME: Hero
    PARAMETERS:
      heading: String
      portrait: Image

%>
<header class="flex ai-center jc-space_between  mw-45rem mh-auto mb-8rem">
  <h1 class="w-45p ma-0 ff-akkurat fw-regular lh-1_5 c-coal"><%= heading %></h1>
  <img class="w-50p" src="<%= portrait.src %>" alt="<%= portrait.alt %>">
</header>
