<%#

    NAME: Image Stack
    PARAMETERS:
      top_image: Image
      bottom_image: Image

%>
<section class="p-relative mw-56rem h-35rem mh-auto mb-8rem">
  <%# top_image %>
  <figure class="p-absolute b-0 l-0 zi-2 ma-0">
    <img class="d-block" src="<%= top.src %>" alt="<%= top.alt %>" width="578" height="458">
  </figure>
  <%# bottom_image %>
  <figure class="p-absolute t-0 r-0 ma-0">
    <img class="d-block" src="<%= bottom.src %>" alt="<%= bottom.alt %>" width="468" heigth="418">
  </figure>
</section>
