/*
  GENERAL
  - Web Font Smoothing
  - Clearfix
  - Display
  - Flexbox
  - Position
  - Z Index
  - Float
  - Vertical Align
*/
/* Web Font Smoothing */
.wfs-antialiased { -webkit-font-smoothing: antialiased; }
/* Clearfix */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Display */
.d-block { display: block; }
.d-inline_block { display: inline-block; }
.d-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
/* Flexbox */
.ai-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
/* Position */
.p-absolute { position: absolute;; }
.p-relative { position: relative; }
/* Z Index */
.zi-2 { z-index: 2; }
/* Float */
.f-right { float: right; }
.f-left { float: left; }
/* Vertical Align */
.va-top { vertical-align: top; }
/*
  SIZING
  - Width
  - Max Width
  - Height
  - Min Height
*/
/* Width */
.w-33percent { width: calc( 100% / 3 ); }
.w-15percent { width: 15%; }
.w-45percent { width: 45%; }
.w-50percent { width: 50%; }
.w-85percent { width: 85%; }
.w-100percent { width: 100%; }
/* Max Width */
.mw-42_125rem { max-width: 42.125rem; }
.mw-52_75rem { max-width: 52.75rem; }
/* Height */
.h-100percent { height: 100%; }
/* Min Height */
.mh-1px { min-height: 1px; }
/*
  SPACING
  - Margin
  - Padding
  - Aspect Ratios
*/
/* Margin */
.ma-0 { margin: 0; }
.mh-auto { margin-right: auto; margin-left: auto; }
.mt-3_125rem { margin-top: 3.125rem; }
.mt-8_75rem { margin-top: 8.75rem; }
.mr-3_125rem { margin-right: 3.125rem; }
.mb-0_25rem { margin-bottom: 0.25rem; }
.mb-0_4375rem { margin-bottom: 0.4375rem; }
.mb-1rem { margin-bottom: 1rem; }
.mb-1_25rem { margin-bottom: 1.25rem; }
.mb-7_75rem { margin-bottom: 7.75rem; }
.mb-8_125rem { margin-bottom: 8.125rem; }
/* Padding */
.pa-0 { padding: 0; }
.pv-2_75rem { padding-top: 2.75rem; padding-bottom: 2.75rem; }
.pv-8_125rem { padding-top: 8.125rem; padding-bottom: 8.125rem; }
.pr-5percent { padding-right: 5%; }
.pr-1rem { padding-right: 1rem; }
.pr-2_9375rem { padding-right: 2.9375rem; }
.pb-3_125rem { padding-bottom: 3.125rem; }
.pl-2_9375rem { padding-left: 2.9375rem; }
/* Aspect Ratios */
.ar { height: 0; position: relative; }
.ar-object { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
.ar-7x10 { padding-bottom: 143%; }
/*
  TYPOGRAPHY
  - Font Face
  - Font Family
  - Font Weight
  - Font Size
  - Line Height
  - Color
  - Text Decoration
*/
/* Font Face */
@font-face {
  font-family: 'Akkurat';
  src: url('../Akkurat.eot'); /* IE9 Compat Modes */
  src: url('../Akkurat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../Akkurat.woff') format('woff'), /* Modern Browsers */
  url('../Akkurat.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../Akkurat.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* Font Family */
.ff-akkurat { font-family: 'Akkurat'; }
/* Font Weight */
.fw-regular { font-weight: normal; }
.fw-bold { font-weight: bolder; }
/* Font Size */
.fs-0_75rem { font-size: 0.75rem; }
.fs-0_875rem { font-size: 0.875rem; }
.fs-0_9375rem { font-size: 0.9375rem; }
.fs-1_125rem { font-size: 1.125rem; }
.fs-1_25rem { font-size: 1.25rem; }
.fs-2_1875rem { font-size: 2.1875rem; }
/* Line Height */
.lh-1_3 { line-height: 1.6; }
.lh-1_5 { line-height: 1.5; }
/* Color */
.c-coal { color: #282828; }
.c-gray { color: #8d8b89; }
.c-white { color: #ffffff; }
.c-peach { color: #f0ab93; }
/* Text Decoration */
.td-none { text-decoration: none; }
/*
  BACKGROUND
  - Background Color
*/
/* Background Color */
.bgc-tan { background-color: #f2edea; }
.bgc-coal { background-color: #282828; }
/*
  BORDER
  - Border Style
  - Border Width
  - Border Color
*/
/* Border Style */
.bbs-solid { border-bottom-style: solid; }
/* Border Width */
.bbw-0_25rem { border-bottom-width: 0.25rem; }
/* Border Color */
.bc-coal { border-color: #282828; }
/*
  LISTS
  - List Style Type
*/
.lst-none { list-style-type: none; }
