<%# CONFIG %>
<%# COMMENT: Storing `sample.json` data %>
<% nav = data.global.nav %>
<%# END %>
<%# Component: Nav %>
<%= partial("components/nav", :locals => {
      :image => nav.image,
      :links => nav.links,
      :contact => nav.contact
    }) %>
<main>
  <%# Component: Hero %>
</main>
